body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border: 3px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.menu
{
   margin-bottom: 180px !important;
}
.filter-selected-option
{
    /*width: 350px !important;*/
    margin: 13px;
    margin-top:40px;
    text-align:center;
   
}

#scrollist {
    overflow-y: scroll;
}

#filtre {
    float: left;
    width: 600px;
    height: 530px;
    /*margin-top: 20px;*/
    position: absolute;
}

#question-list {
    position: relative;
    left: 700px;
    width: 900px;
    float: left;
}


footer
{
    clear:both;
}

hr
{
    clear:both;
}

#create-retour-button 
{
    clear: both;
    top:30px;
    
}


