 
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>page en Travaux <span class="glyphicon glyphicon-warning-sign"></span></h2>


<h4><a href="@Url.Action("Index","Home")"> retour vers la page d'accueil</a></h4>