@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="panel panel-info">
    <div class="panel-heading">Accueil</div>
    <div class="panel-body row">
        <div class="col-md-12"><a href="@Url.Action("Create","Survey")">Créer un formulaire</a></div>
        <div class="col-md-12"><a href="@Url.Action("List","Form")">Voir les formulaires existantes</a></div>
        <div class="col-md-12"><a href="@Url.Action("List","Question")">base de donnée</a></div>
    </div>
</div>
