@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="menu">
    <div class="jumbotron text-center">
        <h3 class="menu-element"><a href="@Url.Action("Create","Survey")">Créer un formulaire</a></h3>
        <h3 class="menu-element"><a href="@Url.Action("List","ExploreSurvey")">Consulter les formulaires existants</a></h3>
        <h3 class="menu-element"><a href="@Url.Action("List","Question")">Acceder à la liste de questions</a></h3>
    </div>
</div>
