@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="panel panel-info">
    <div class="panel-heading">Accueil</div>
    <div class="panel-body row">
        <div class="col-md-12">Créer un formulaire</div>
        <div class="col-md-12">Voir les formulaires existantes</div>
        <div class="col-md-12"><a href="@Url.Action("Create","Question")">Ajout/suppression de questions dans la base de donnée</a></div>
    </div>
</div>
